<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2024 share-installs Authors.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invitesdk">

    <!-- Required for network-based deferred deep link attribution -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
